.default-page {
    /* display: flex;
    justify-content: space-between; */
    padding-top: 72px;
    padding-bottom: 82px;
    max-width: 1146px;
    margin: auto;
}

.default-page__title {
    margin: 0;
    margin-bottom: 37px;
    font-size: 46px;
}

.default-page-content {
    max-width: 853px;
    font-size: 14px;
    line-height: 18px;
}

.default-page__text {
    margin: 0;
    margin-bottom: 20px;
}


@media screen and (max-width: 1280px) {
    .default-page {
        width: calc(100% - 150px);
    }
}

@media screen and (max-width : 1024px) {
    .default-page {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width : 768px) {
    .default-page {
        width: calc(100% - 40px);
    }
    .default-page-content {
        font-size: 12px;
    }
    .default-page__title {
        font-size: 26px;
    }
}

@media screen and (max-width : 320px) {
    
}