.profile__form {
    background: #FBFBFB;
    padding-bottom: 32px;
    padding-top: 38px;
}




.profile__form--add-vacancy {
    padding-bottom: 84px;
}

.profile__form--add-resume {
    padding-bottom: 80px;
}

.profile__title {
    max-width: 1146px;
    padding-top: 72px;
    margin: auto;
    margin-bottom: 32px;
    font-size: 46px;
}

.profile__form-title {
    margin: 0;
    margin-bottom: 28px;
    font-size: 36px;
}

.profile__form-input-title {
    margin: 0;
    font-size: 36px;
    margin-bottom: 32px;
}

.profile__form-title--about {
    margin-bottom: 28px;
}

.profile__form-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 47.5%;
    margin-bottom: 14px;
}

.profile__form-input-wrapper--schedule {
    width: 37.5%;
}



.profile__form-input {
    padding: 13px 10px;
    padding-bottom: 12px;
    width: 100%;
    /* height: 100%; */
    min-height: 40px;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    background: #FFFFFF;
    font-size: 14px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    cursor: pointer;
    caret-color: #0999aa;
}


.error {
    border: 1px solid #CF2A2A;
    border-radius: 10px;
}

.focused {
    border: 1px solid #ACD2FF;
    border-radius: 10px;
}
 

.profile__form-download-logo {
    display: flex;
  
    margin-top: 16px;
    background-color: white;
    width: 212px;
    height: 206px;
    background-image: url('../images/logo-placeholder.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border-radius: 20px;
}

.profile__form-download-logo--add-resume {
    margin-top: 85px;
}

.hidden {
    display: none;
}

.profile__form-container {
    max-width: 1146px;
    margin: auto;
}

.profile__form-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* max-width: 758px; */
    max-width: 752px;
}

.profile__form-input-container--add-resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1049px;
}

.profile__form-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1049px; 
    margin-bottom: 37px;
}

.profile__form-wrapper--add-vacancy {
    margin-bottom: 0;
}

.profile__form-wrapper--add-resume {
    margin-bottom: 14px;
}


.profile__form-download-input {
    display: none;
}

.profile__form-preview-text {
    margin: auto;
    padding: 9px 17px;
    background: #72B62B;
    vertical-align: top;
}

.profile__form-preview-text--add-resume {
    max-width: 132px;
    font-size: 14px;
}

.profile__form-label {
   margin-bottom: 9px;
   font-size: 14px;
}

.profile__form-input-wrapper--text-area {
    width: 100%;
    max-width: 758px;
    margin-bottom: 0;
    margin-top: 20px;
    
}

.profile__form-input-wrapper--add-resume {
    width: 100%;
    max-width: 758px;
    margin-top: 20px;
    margin-bottom: 39px;
}


.profile__form-textarea {
    padding: 13px 10px;
    min-height: 92px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    font-size: 14px;
    outline: 0;
    border: 0;
    resize: none;
}


.profile__form-textarea--add-resume {
    height: 127px;
}
.profile__form-textarea--description {
    min-height: 127px;
}

.profile__form-textarea-container {
    width: 100%;
    margin-top: 62px;
}

.profile__form-input-wrapper--description {
    margin-top: 0;
    margin-bottom: 37px;
}

.profile__form-textarea::placeholder,
.profile__form-input::placeholder {
    font: inherit;
    color:#E1E1E1;
    /* transition: opacity 0.3s; */
  }

.profile__form-contact-title {
    margin: 0;
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 120%;
}

.profile__form-input-select {
    position: relative;
}

.profile__form-input-select--skills {
    position: relative;
    padding: 7px 10px;
    width: 100%;
    /* height: 100%; */
    min-height: 40px;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
}


.profile__form-arrow {
    position: absolute;
    right: 15px;
    top: 18px;
    transition: transform .2s;
    cursor: pointer;
}

.profile__form-arrow--toggled {
    transform: rotate(180deg);
}

.profile__form-calendar {
    position: absolute;
    right: 15px;
    top: 11px;
    transition: transform .2s;
    cursor: pointer;
}

.profile__form-input-select:hover path {
    fill:#F1EA68;
}

.profile__form-save {
    min-height: 50px;
    max-width: 282px;
    width: 100%;
    margin-left: auto;
    margin-right: 390px;
    display: block;
}

.profile__form-save--employer {
    margin: 0;
}

.profile__form-save--add-vacancy {
    margin-left: auto;
    margin-right: 490px;
}

.profile__form-contact-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 758px;
    align-items: center;
}

.profile__form-save-btn {
    position: absolute;
    right: -193px;
    bottom: 34px;
    display: flex;
    align-items: center;
}

.profile__form-save-info {
    position: relative;
    padding-left: 42px;
}

.profile__form-save-info::before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 12px;
    width: 27px;
    height: 20px;
    background-image: url(../images/refresh.svg);
    background-repeat: no-repeat;
}

.profile__form-list {
    position: absolute;
    bottom: -162px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: white;
    height: max-content;
    box-sizing: border-box;
    z-index: 1;
    list-style: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

/* .profile__form-list {
    bottom: -162px;
} */
.profile__form-list--experience  {
    bottom: -195px;
}


.profile__form-list-skills {
    position: absolute;
    top: 87px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 24px 35px 33px 19px;
    background-color: white;
    height: max-content;
    box-sizing: border-box;
    z-index: 1;
    list-style: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.profile__form-list-item {
    margin-bottom: 18px;
    cursor: pointer;
}

.profile__form-schedule {
    display: flex;
    /* align-items: baseline; */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
}
.profile__form-schedule-wrapper {
    position: relative;
    width: 30.5%;
}

.profile__form-schedule-wrapper--schedule {
    width: 34.5%;
    max-width: 360px;
}
.profile__form-label--schedule {
    margin: 0;
    margin-bottom: 21px;
}

.profile__form-schedule-label {
    position: relative;
    margin-right: 30px;
    padding-left: 24px;
    /* margin-bottom: 15px; */
    font-size: 14px;
}
.profile__form-schedule-label:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

.profile__form-schedule-label::before {
    content: "";
    position: absolute;
    display: block;
    top: -4px;
    left: -2px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #72B62B;
    box-sizing: border-box;
    cursor: pointer;
}


.profile__form-schedule-check:checked+.profile__form-schedule-label::before {
    background-color: #72B62B;
    border-radius: 50%;
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center
}

.profile__form-schedule-info {
    display: flex;
    /* flex-wrap: nowrap; */
    max-width: 422px;
}


.profile__form-text {
    width: 121px;
    border: 1px solid #CEECAF;
    padding: 3px 7px;
    margin: 0; 
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    color: #72B62B;
    font-size: 14px;
}

.profile__form-text span {
    margin-right: 15px;
}




.profile__form-contacts {
    display: flex;
    justify-content: space-between;
}

.profile__form-about {
    width: 100%;
}

.profile__form-about--about-job { 
    padding-bottom: 97px;
}

.profile__form-about--schedule {
    min-width: 1134px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.profile__form-about--personaly {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 758px;
}

.profile__form-about--job {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 758px;
}

.profile__form-about--about {
    max-width: 754px
}

.profile__form-about--job {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile__form-about--job-experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1146px;
}

.profile__form-input-wrapper--add {
    width: 100%;
}

.profile__form-contact {
    width: 48%;
}

.profile__form-about-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 33px;
}

.profile__form-about-wrapper--container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 758px;
    margin-bottom: 24px;
}

.profile__form-input-wrapper--aspect {
    width: 48%;
}

.profile__form-input-wrapper--experience:nth-child(3n){
    width: 25.2%
}
.profile__form-input-wrapper--experience {
    width: 34.4%
}


.profile__form-input-container--add {
    width: 658px;
}

.profile__form-input-wrapper--right {
    width: 40.5%;
    max-width: 264px;
    margin-bottom: 37px;
}
.profile__form-input-wrapper--left {
    width: 54.8%;
    margin-bottom: 37px;
}

.profile__form-input-wrapper--skills {
    max-width: 264px;
    width: 100%;
}

.profile__form-list-skills-item {
    position: relative;
    margin-bottom: 18px;
    cursor: pointer;
}
.profile__form-list-skills-item:last-child {
    margin-bottom: 0;
}

.profile__form-list-skills-label {
    padding-right: 78px;
    font-size: 14px;
}

.profile__form-list-skills-label::after {
    content: "";
    position: absolute;
    display: block;
    top: -2px;
    right: 0px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #72B62B;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__form-skills-check:checked+.profile__form-list-skills-label::after {
    background-color: #72B62B;
    border-radius: 50%;
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.profile__form-input-subtitle {
    margin: 0;
    margin-bottom: 21px;
    font-size: 18px;
}

.profile__form-input-subtitle--add-resume {
    margin-bottom: 13px;
}

.profile__form-input-wrapper--job {
    margin-bottom: 38px;
}
.profile__form-schedule-title {
    margin: 0;
    margin-bottom: 18px;
    font-size: 14px;
}

.profile__form-about--meet {
    padding-top: 46px;
}





@media screen and (max-width: 1280px) {
    .profile__form-container {
        width: calc(100% - 150px);
    }
    .profile__form-input-container {
        max-width: 600px;
    }
    .profile__title {
        width: calc(100% - 150px);
    }

    .profile__form-input-container--add-resume {
        max-width: 100%;
    }
    .profile__form-about--schedule {
        min-width: 100%;
    }
    .profile__form-about--about {
        max-width: 650px;
    }
}

  
@media screen and (max-width : 1024px) {
    .profile__form-container {
        width: calc(100% - 60px);
    }

    .profile__form-save-btn {
        right: 86px;
        bottom: -14px;
    }
    .profile__form-input-container {
        max-width: 500px;
    }
    .profile__title {
        width: calc(100% - 60px);
    }

    .profile__form-input-container--add {
        max-width: 100%;
        width: 100%;
    }

    .profile__form-input-container--add-resume {
        max-width: 100%;
    }
    .profile__form-about--about {
        max-width: 500px;
    }
    .profile__form-schedule-info {
        flex-wrap: wrap;
    }
    .profile__form-schedule-label {
        margin-bottom: 10px;
    }

   
} 
   
  
  @media screen and (max-width : 768px) {
    .profile__form-container{
        width: calc(100% - 40px)
    }
    .profile__title {
        font-size: 26px;
        width: calc(100% - 40px);
    }
    .profile__form-title {
        font-size: 22px;
    }

    .profile__form-input-container {
        max-width: 100%;
    }
    .profile__form-wrapper {
        flex-direction: column;
    }
    .profile__form-download-logo {
        margin: 0 auto;
    }

    .profile__form-save-btn {
        right: 74px;
        bottom: -33px;
        font-size: 12px;
    }
    .profile__form-save {
        margin: 0 auto;
        max-width: 260px;
    }
    .profile__form-label {
        font-size: 12px;
    }

/* поставить инпуты в ряд */
    .profile__form-input-wrapper {  
        width: 100%;
        max-width: 100%;
    }

    .profile__form-list {
        bottom: -178px;
        font-size: 12px;
    }

    .profile__form-input {
        font-size: 12px;
    }

    .profile__form-about--about {
        max-width: 100%;
    }
    .profile__form-about-wrapper {
        flex-direction: column;
    }
    .profile__form-contacts {
        flex-direction: column;
    }

    .profile__form-contact {
        width: 100%;
    }
/* jfglkfglkf */
    .profile__form-about--schedule {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .profile__form-about--about-job {
        padding-bottom: 25px;
    }
    .profile__form-about--meet {
        padding-top: 25px;
    }

    .profile__form-schedule-wrapper--schedule {
        max-width: 100%;
        width: 100%;
    }

    .profile__form-schedule-wrapper {
        max-width: 100%;
        width: 100%;
    }

    .profile__form-input-wrapper--experience:nth-child(3n) {
        width: 100%;
    }

    .profile__form-list-skills-label {
        font-size: 12px;
    }
    
  }